nav{
    background-color: #001145;
    padding: 2px 0;
}

nav ul{
    list-style: none;
    gap: 40px;
    background-color:#001145 ;
    
}
li{
    margin-top: 20px;
}
li a{color: white;
    font-size: 20px;
}

li a:hover{
    text-decoration: none;
    padding:10px 0;
    border-radius: 8px;
    color: blue;
}