@import url('https://fonts.cdnfonts.com/css/poppins');
 

body{
    background-color: white;
    margin: 0;
    padding: 0;
    gap: 0;

 }
#container-receitas{
    margin-top: 100px;
    gap: 40px;
    justify-content: center;
}


.card{
    border-radius: 8px;
    padding: 12px;
    width: 400px;
    gap:10px;
    background-color: white;
    color: rgb(151, 149, 149);
   
}

.card img{
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
}
.card h3{
    text-align: center;
}


.card:hover{
    border: black 2px solid;
    
}

